<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asad Resume</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- <link rel="stylesheet" href="myapp/styles.css"> -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <main class="main-content">
        <section class="left-section">
            <div class="left-content">
                <div class="profile">
                    <div class="/image">
                        <a class="navbar-brand " href="https://www.facebook.com/asad.anwar.330/"> <img src="{% static 'media/asad.jpg' %}" alt="mypic" ></a>
                    </div>
                     <a class="navbar-brand " href="https://www.instagram.com/asad_.58/"><h2 class="name">Muhammad Asad Anwar</h2></a>
                    <p class="career">Software Engineer </p>
                    <!-- <p class="career">Python Data Scientist  </p> -->
                </div>
                <div class="contact-info">
                    <h3 class="main-title">Contact Info</h3>
                    <ul>
                        <li>
                            <i class="fa fa-phone"></i>
                            +92-309-6385958
                        </li>
                        <li>
                            <i class="fa fa-fax"></i>
                            asadattal58@gmail.com
                        </li>
                        
                        
                        <li>
                            <i class="fa fa-map-marker"></i>
                            Punjab, Pakistan
                        </li>
                    </ul>
                </div>
                <div class="skills-section">
                    <h3 class="main-title">Skills</h3>
                    <ul>
                        <li>
                            <p class="skill-title">SQL</p>
                            <div class="progress-bar">
                                <div class="progress js-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">Python</p>
                            <div class="progress-bar">
                                <div class="progress c-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">Django
                            </p>
                            <div class="progress-bar">
                                <div class="progress ps-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">Java</p>
                            <div class="progress-bar">
                                <div class="progress j-progress"></div>
                            </div>
                        </li>
                        
                        
                        
                        <li>
                            <p class="skill-title">html/css</p>
                            <div class="progress-bar">
                                <div class="progress ps-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">VSCode</p>
                            <div class="progress-bar">
                                <div class="progress ps-progress"></div>
                            </div>
                        </li>
                        
                    </ul>
                </div>
                <div class="references-section">
                    <h3 class="main-title">References</h3>
                    <div class="referee">
                        <h6 class="sub-title">Language</h6>
                        <p class="sub-para">English
                            -Urdu
                            -Punjabi</p>
                        <ul>
                            
                            
                        </ul>
                    </div>
                    
                    <div class="referee">
                        
                            
                            
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="right-section">
            <div class="right-main-content">
                <section class="about sect">
                    <h2 class="right-title">About Me</h2>
                    <p class="para">
                        I'm a software developer. I used a creative approach with excellent mathematics, statistics, and calculation skills put into practice on a daily basis.  An extensive career working in data science for more than a decade. I am always energetic and eager to learn new skills. <br>
                        <br>
                        
                    </p>
                </section>

                <section class="experince sect">
                    <h2 class="right-title">Skills</h2>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">Python:</h5>
                            
                            <p class="para">Django (latest Frame work ) </p>
                            <p class="para">CSS </p>
                            <p class="para">HTML</p>
                            <p class="para">MS Word</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <p class="para">
                                
                            <p class="para">Secure a responsible career opportunity to fully utilize my training
                                and skills, while making a significant contribution to the success of
                                the company. </p>
                                
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="left-tl-content">
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="left-tl-content">
                            
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                               
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="education sect">
                    <h2 class="right-title">Education</h2>
                    <div class="timeline">
                        <div class="left-tlcontent">
                            <h5 class="tl-title"> GCUF:</h5> 
                            <p class="para">2018 - 2022 </p>
                            <p class="para">BSCS </p>
                            <p class="para">8th semester</p>
                            
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                
                                <p class="para">
                                    <h5 class="tl-title-2">Python Data Science</h5>
                            <p class="para">Python Django developer </p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">Kips College : </h5>
                            <p class="para">2016 - 2018 </p>
                            <p class="para">ICS </p>
                            <p class="para">1st Division</p>
                            
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">Languages</h5>
                                <p class="para">
                                    <p class="para">English  </p>
                                    <p class="para">Urdu</p>
                                    <p class="para">Punjabi</p>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">School:</h5>
                             <p class="para"> Govt. Sher islamia high School:</p>
                            <p class="para">2014 - 2016</p>
                            <p class="para">Matric</p>
                            <p class="para">1st Division</p>
                            
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">Interest</h5>
                                <p class="para">Programming</p>
                                <p class="para">Badminton</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="experince sect">
                    <h2 class="right-title">Experience</h2>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">Python:</h5>
                           <p class="para">Django: </p>
                            
                            <p class="para">2021 </p>
                            <p class="para">For Sample Website </p>
                            <a class="navbar-brand " href="https://eventations.herokuapp.com/home"><button class="para" >Click it</button></a>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <p class="para">
                                
                            <p class="para">Managed online campaigns for various clients </p>
                                
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                
            </div>
        </section>
    </main>
</body>
</html>
